<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Soccer Data</h1>
    <form action="/" method="post">
        <label for="comp_id">Competition:</label>
        <select id="comp_id" name="comp_id" required>
            <!-- Competition options will be added using JavaScript -->
        </select><br>
        
        <!-- Other form elements go here -->

        <input type="submit" value="Submit">
    </form>
    
    <script>
        $(document).ready(function() {
            // Fetch and populate competitions
            $.getJSON('/competitions', function(data) {
                var options = '';
                for (var i = 0; i < data.length; i++) {
                    var comp = data[i];
                    options += '<option value="' + comp.competition_id + '">' + comp.competition_name + ' - ' + comp.season_name + '</option>';
                }
                $('#comp_id').html(options);
            });
        });
    </script>
</body>
</html>
