<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Soccer Data from Open Data Master</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/competitions.js') }}"></script>
</head>
<body>
    <main>
        <section class="bg-primary">
            <div class="container py-5">
                <h1>Soccer Data</h1>
                <form action="/process_competition" method="post">
                    <label for="comp_id">Select Competition:</label>
                    <select id="comp_id" name="comp_id" required>
                    </select><br>

                    <!-- Other form elements go here -->

                    <input type="submit" value="Submit">
                </form>
            </div>
        </section>
    </main>
</body>
</html>